.list {
    display: block;
    color: greenyellow;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style-position: inside;
    float: left;
    justify-content: center;
    width: 20%;
    font-family: 'Cormorant SC', serif;
    font-size: x-large;

}

.ulList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: center;
    list-style-position: inside;
    text-align: center;
    list-style-position: inside;
    background-color: #212529;
}

@media screen and (max-width: 1023px) {
    .list {
        width: 33.3333333%;
    }
    .center{
        padding-left: 27.966%;
    }
}