

<ul class="ulList">
  <li class="list">
    Paladine
  </li>
  <li class="list">
    Takhisis
  </li>
  <li class="list">
    Lunitari
  </li>
  <li class="list center">
    Solinari
  </li>
  <li class="list center">
    Reorx
  </li>
</ul>
<div>
    <p>
      <a [routerLink]="'content1'" class="btn btn-secondary">Paladine</a>
      <a [routerLink]="'content2'" class="btn btn-secondary">Takhisis</a>
      <a [routerLink]="'content3'" class="btn btn-secondary">Lunitari</a>
    </p>
  </div>
<router-outlet></router-outlet>
