<table style="color:white;">
  <th>ID</th>
  <th>Name</th>
  <th>Price</th>
  <th>Quantity</th>
  <tr *ngFor="let item of array">
    <td>{{item.id}}</td>
    <td>{{item.product_name}}</td>
    <td>
      <div class="form-group">
        <input type="number" class="form-control" name="price" #p [defaultValue]="item.product_price" [(ngModel)]="item.product_price">
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="number" class="form-control" name="quantity" #q [defaultValue]="item.product_quantity" [(ngModel)]="item.product_quantity">
      </div>
    </td>
    <td>
      <div class="form-group">
        <input type="number" class="form-control" readonly [ngModel]="(+p.value * +q.value)" />
      </div>
    </td>
  </tr>
</table>
 