  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><img src="/assets/dragon2.png" style="max-width:25%;" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="page">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calculations">Calculations</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" href="/">
      <div class="logo-image">
        <img src="/assets/profile.png" class="img-fluid" onError="this.src='assets/dragon.jpg'">
      </div>
    </a>
  </nav>
