
.skull {
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.skull:hover + .centerText  {
    display: block;
}
.centerText:hover{
    display: block; 
}
.centerText {
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: x-large;
    font-family: fantasy;
    padding-top: 40%;
    border-radius: 50%;

}

.container {
    padding: 0%;
    position: relative;
    text-align: center;
    color: white;
    width: 500px;

}